-content_for :page_title do
  #instruction
    =t "initial_instruction"
.row
  .options
    -@options.each_with_index do |option, index|
      .option{id: "option-#{option[:id]}"}
        %div{class: "col-md-#{12/@options.size}"}
          .panel.panel-default
            .panel-body
              %h4.option_title
                =t "option", index: index + 1
              %p.lead=t "options.#{option[:name]}.title"
              %button.select.btn.btn-success{value: "#{option[:id]}:#{option[:name]}"}
                Select
