:javascript
  window.available_payments = #{@available_payments.to_json}

-content_for :page_title do
  #instruction
    =t "job_selection"
.experiments
  .row
    -@jobs.each do |job|
      .col-md-6
        .panel.panel-default
          .panel-body
            %h4
              =t "jobs.#{job}"
            -@experiments_options.call(job).each_with_index do |experiment, index|
              .experiment.well.col-md-6{id: "experiment-#{experiment.to_s}-job-#{job.to_s}"}
                %p.lead=t "options.#{@selected_option_name}.payment_method.#{experiment}"
                %button.begin.btn.btn-success{value: "#{experiment}:#{job}"}
                  Begin
