- content_for :sidebar, render(:partial => 'sidebar')
- content_for(:title) do
  = t("web-app-theme.all", :default => "All")
  Responses

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th.first ID
      %th
        = t("activerecord.attributes.response.user_id", :default => t("activerecord.labels.user_id", :default => "User_id"))
      %th Group ID
      %th Error ID
      %th Essay ID
      %th Phase
      %th Correct?
      %th Field Before Correction
      %th Seconds To Complete
      %th Round Number
      %th Treatment
      %th= t("web-app-theme.created_at", :default => "Updated at")
      %th= t("web-app-theme.created_at", :default => "Created at")
      %th Total Time To Edit
      %th # Actions
      %th.last  
  - @responses.each do |response|
    %tr
      %td= response.id
      %td= link_to response.user_id, response_path(response)
      %td= response.user.group
      %td= response.error
      %td= response.essay
      %td= response.phase
      %td= response.correct
      %td= response.uncorrected
      %td= response.user.time_to_complete
      %td= response.round_number
      %td= response.controller
      %td= response.updated_at
      %td= response.created_at
      %td= response.total_time_to_edit
      %td= response.pretty_actions.count
      %td
        = link_to fa_icon('user') + " User", user_path(response.user.id), class: "btn btn-default btn-xs"
        = link_to "#{t("web-app-theme.delete", :default => "Delete")}", response_path(response), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", class: "btn btn-danger btn-xs"
.pagination
  = will_paginate @responses, renderer: BootstrapPagination::Rails


