<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", responses_path  %></li>

    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Responses</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
          <th>
            <%= t("activerecord.attributes.response.user_id", :default => t("activerecord.labels.user_id", :default => "User_id")) %>
          </th>
          <th>Group ID</th>
          <th>Error ID</th>
          <th>Essay ID</th>
          <th>Correct? </th>
          <th>Field Before Correction </th>
          <th>Seconds To Complete </th>
          <th>Round Number</th>
          <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @responses.each do |response| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= response.id %>
          </td>
          <td>
            <%= link_to response.user_id, response_path(response) %>
          </td>
          <td>
            <%= response.user.group %>
          </td>
          <td><%= response.error %></td>
          <td><%= response.essay %></td>
          <td><%= response.correct %></td>
          <td><%= response.uncorrected %></td>
          <td><%= response.user.time_to_complete %></td>
          <td><%= response.round_number %></td>
          <td><%= response.created_at %></td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", response_path(response) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_response_path(response) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", response_path(response), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>

      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
