!!!
%html
  %head
    %title PHD Checko'Matic
    = stylesheet_link_tag :application, :admin
    = javascript_include_tag :application
    = csrf_meta_tag
  %body

    .navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "#"} PHD Checko'Matic
        .navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li{class: controller.controller_path == 'users' ? 'active' : ''}
              %a{href: users_path} Users
            %li{class: controller.controller_path == 'responses' ? 'active' : ''}
              %a{href: responses_path} Responses
            %li{class: controller.controller_path == 'essays' ? 'active' : ''}
              %a{href: root_url} Essays
            %li
              %a.logout{href: "/logout"}= t("web-app-theme.logout", :default => "Logout")

    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          = yield :sidebar
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          .flash
            - flash.each do |type, message|
              %div{class: "alert message alert-#{type}"}
                %p= message
          %h1.page-header=yield :title
          = yield 
          %footer
            %small.text-muted Copyright © #{Time.now.year} Burningpony Corp