%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %title Choose
    = stylesheet_link_tag("application", :media => "all")
    = stylesheet_link_tag("cover", :media => "all")
    = javascript_include_tag 'airbrake-js/airbrake-shim.js', data: { 'airbrake-project-id'=> ENV['AIRBRAKE_JS_KEY'], 'airbrake-project-key'=> ENV['AIRBRAKE_JS_KEY'], 'airbrake-environment-name'=>Rails.env, 'airbrake-host'=>"https://#{Airbrake.configuration.host}"}
    = csrf_meta_tag
  %body
    .vignette
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          / .masthead.clearfix
          /   .inner
          /     %h3.masthead-brand Cover

          .inner.cover
            %h1.cover-heading=yield :page_title
            %hr
            =yield
:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-16248605-8', 'auto');
  ga('send', 'pageview');